body{

    background-image: url("../pictures/component.png");
    background-size: cover;
    background-repeat: no-repeat;
    /*  height: 100%; */
}

.container{
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    justify-content: space-around;
}

.flex{
    width: 50%;
}

@font-face {
    font-family: PlayfairDisplay-Regular;
    src: url("../Font/PlayfairDisplay-Regular.woff");
}

@font-face {
    font-family: Roboto-Light;
    src: url("../Font/Roboto-Light.woff");
}

@font-face {
    font-family: Roboto-MediumItalic;
    src: url("../Font/Roboto-MediumItalic.woff");
}

@font-face {
    font-family: Roboto-Medium;
    src: url("../Font/Roboto-Medium.woff");
}

@font-face {
    font-family: Roboto-Bold;
    src: url("../Font/Roboto-Bold.woff");
}

.flex .naslov{
    letter-spacing: 0;
    color: #505050;
    font-size: 36px;
    font-family: PlayfairDisplay-Regular;
}

.flex .p1{
    letter-spacing: 0;
    color: #505050;
    font-size: 32px;
    font-family: Roboto-Light;
}

.flex .p2{
    font-size: 24px;
    font-family: Roboto-Light;
    margin-top: 20px;
}

strong{
    font-family: Roboto-MediumItalic;
}

span{
    color: #00B8B0;
}

#forma{
    width: 30%;
    margin-top: 50px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 14px #00000022;
}

#f{
    margin: 10px 57px 10px 58px;
}



/*.glavni{
    height: 620px;
}*/

/*#f{
    padding: 20px 0px;
    margin-top: 20px;
}

#f .naziv{
    margin-left: -91px;
}

#f .kontakt{
    margin-left: -74px;
}

#f .email{
    margin-left: -126px;
}

#f .broj{
    margin-left: -81px;
}

#f .website{
    margin-left: -113px;

}*/

#forma label{
    text-align: left;
    letter-spacing: 0;
    color: #505050;
    font-size: 18px;
    font-family: Roboto-Light;
}


#forma input{
    padding-left:15px;
    letter-spacing: 0;
    color: #505050;
    width: 90%;
    height: 60px;
    border: 1px solid #DADADA;
    border-radius: 3px;
    opacity: 1;
    font-size: 18px;
    font-family: Roboto-Medium;
}

input:focus {
    outline: 2px auto #00B8B0;
    outline-offset: -2px;
}

#forma button{
    border: 0px;
    height: 60px;
    letter-spacing: 0;
    color: #FFFFFF;
    opacity:1;
    font-size: 18px;
    background: #00B8B0 0% 0% no-repeat padding-box;
    border-radius: 3px;
    width: 65%;
    font-family: Roboto-Bold;
    margin-left: 16.5%;
    margin-right: 18%;
}

#forma button:hover , button:active{
    background-color: mediumpurple;
}


footer{
    width: 93%;
    text-align: right;
    margin-top: 40px;
    position: relative;
    margin-bottom: 30px;
}

.icons{
    margin-left: 15px;
}



footer img:hover{
    opacity: .5;
    height: 30px;
    padding-left: 5px;
    transition: 0.3s;
}

footer img:active{
    opacity:5;
}

@media  only screen and (max-width:600px) {

    body{
        background-position: bottom;
    }

    .container {
        flex-direction: column;
        height: auto;
        text-align: center;
        width: 99%;
    }

    .flex .naslov{
        font-size: 15px;
    }

    .flex .p1{
        font-size: 13px;
    }
    .flex .p2{
        font-size: 13px;
    }

    .flex {
        width: 90%;
        margin: auto;
    }

    #f{
        margin:10px 15px 10px 15px;
    }



    #forma {
        text-align: left;
        width: 99%;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
    }

    #forma button{
        font-size: 13px;
    }

    #forma label{
        font-size: 15px;
    }

    #forma input{
        width: 95%;
        margin: auto;
        font-size: 13px;
    }

    footer{
        position: relative;
        margin-bottom: 30px ;
    }
}


@media only screen and (min-width: 533px) and (max-width: 800px){
    .container {
        flex-direction: column;
        height: auto;
        text-align: center;
    }

    .flex .naslov{
        font-size: 17px;
    }

    .flex .p1{
        font-size: 15px;
    }
    .flex .p2{
        font-size: 15px;
    }

    .glavni{
        height: auto;
    }
    .flex {
        width: 90%;
        margin: auto;
    }

    #f{
        text-align: left;

    }

    #forma{
        width: 90%;
        margin: auto;
        margin-top: 20px;
    }

    #forma input{
        width: 85%;
        margin: auto;
        font-size: 13px;
    }

    footer{
        margin-bottom: 30px ;
    }

    #forma button{
        padding: 3%;
    }

}



